#nav{
    background-color: #031B34;
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
#nav_logo{
    height: fit-content;
    width: fit-content;
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
}
.homepage #nav{
    display: flex;
    flex-direction: row;
}
#logo{
    height: 50px;
    width: 190px;
}
#logo_caption{
    font-weight: bolder;
    font-size: 15px;
    color: white;
}
.nav_btn{
    border-radius: 0px;
    text-align: center;
    margin-top: 25px;
    margin-left: 40px;
    color: white;
    width:fit-content;
    height:fit-content;
    background-color: rgb(71, 62, 62);
    transition: background-color 1s;
    padding: 10px;
}
.nav_btn:hover{
    cursor: pointer;
    background-color: #6789ba;
}

#after_nav {
    background: linear-gradient(89.97deg, #1b1ba0 1.84%, #36a9cd 102.67%);;
    height: 620px;
    background-image: url('../../images/container3.jpg');
}

.test_button{
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    width: 250px;
    transition: background-color 1s;
}
.test_button:hover{
    background-color: rgb(160, 160, 214);
}
hr{
    border: 1px solid black;
}
.slider{
    width: 50%;
}
#image_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.welcome{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items:center;
    justify-content: center;
}
#after_nav{
    display: flex;
    flex-direction: row;
}
.hello{
    color: #ffff;
}

.content{
    color: #afe2f3;
}

.welcomeContainer{
    border-radius: 50px;
    background-color: #678aba53;
    padding-top: 10px;
    padding-bottom: 10px;
}