#nav{
    background-color: rgb(131, 127, 127);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
#nav_logo{
    height: fit-content;
    width: fit-content;
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
}
.new_test #nav{
    display: flex;
    flex-direction: row;
}
#logo{
    height: 50px;
    width: 190px;
}
#logo_caption{
    font-weight: bolder;
    font-size: 15px;
    color: white;
}
.nav_btn{
    border-radius: 0px;
    text-align: center;
    margin-top: 25px;
    margin-left: 40px;
    color: white;
    width:fit-content;
    height:fit-content;
    background-color: rgb(71, 62, 62);
    transition: background-color 1s;
    padding: 10px;
}
.nav_btn:hover{
    cursor: pointer;
    background-color: #6789ba;
}
#sub_btn{
    border-radius: 0px;
}