.uSignup_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url("../../images/container2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.container3{
    background-color: rgba(85, 85, 88, 0.479);
    height: 600px;
    border-radius: 50px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.name_field{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-style: solid;
    font-weight: bolder;
}

.name_field label{
    -webkit-text-fill-color: rgb(214, 211, 211);
}

.name_field input{
    margin: 10px;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
}
.email_id_field{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-style: solid;
    font-weight: bolder;
}

.email_id_field label{
    -webkit-text-fill-color: rgb(208, 208, 235);
}

.email_id_field input{
    margin: 10px;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
}
.DOB{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-style: solid;
    font-weight: bolder;
}

.DOB label {
    -webkit-text-fill-color: rgb(214, 211, 211);
}

.DOB input{
    margin: 10px;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
}
.passwd{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-style: solid;
    font-weight: bolder;
}

.passwd label {
    -webkit-text-fill-color: rgb(214, 211, 211)y;
}

.passwd input{
    margin: 10px;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
}
.heading_signup{
    margin: 10px;
    color: rgb(146, 235, 255);
}
.create_btn{
    height: 40px;
    width: 160px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(70, 233, 251);
}