/*.aboutbody{
    background-image: url("./images/space.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    text-align: center;

}

.aboutheading{
    color:rgb(255, 255, 255)

    
}

/*html {
    box-sizing: border-box;
  }*/
  
 /* *, *:before, *:after {
    box-sizing: inherit;
  }*/
.column {
    float: left;
    width: 250px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.people_images{
    height: 250px;
    width: 200px;
}

.card {
    margin: 8px;
}

.details {
    padding: 0 16px;
    color: aliceblue;
  }

  .details::after, .row::after {
    content: "";
    clear: both;
    display: table;
  } 