body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

@import url("https://fonts.googleapis.com/css2?family=Orelega+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-orelega-one: "Orelega One";
  --font-palanquin-dark: "Palanquin Dark";
  --font-otomanopee-one: "Otomanopee One";

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff0000;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-21xl: 40px;
}
